<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Funcionários</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<!-- Header -->
<div th:replace="fragments/header :: navbar"></div>

<div class="container">
    <h2>Funcionários</h2>
    <a class="btn btn-success mb-3" th:href="@{/funcionario/novo}">Novo Funcionário</a>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Email</th>
                <th>Role</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="funcionario : ${funcionarios}">
                <td th:text="${funcionario.id}"></td>
                <td th:text="${funcionario.nome}"></td>
                <td th:text="${funcionario.email}"></td>
                <td th:text="${funcionario.role}"></td>
                <td>
                    <a class="btn btn-primary btn-sm" th:href="@{/funcionario/editar/{id}(id=${funcionario.id})}">Editar</a>
                    <a class="btn btn-danger btn-sm" th:href="@{/funcionario/excluir/{id}(id=${funcionario.id})}">Excluir</a>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="mb-3">
        <div th:replace="fragments/buttons :: btn-voltar"></div>
    </div>
</div>

<!-- Footer -->
<div th:replace="fragments/footer :: footer"></div>

</body>
</html>
