<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Categorias de Produto</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<!-- Header -->
<div th:replace="fragments/header :: navbar"></div>

<div class="container">
    <h2>Categorias de Produto</h2>
    <a class="btn btn-success mb-3" th:href="@{/categoria/novo}">Nova Categoria</a>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="cat : ${categorias}">
                <td th:text="${cat.id}"></td>
                <td th:text="${cat.nome}"></td>
                <td>
                    <a class="btn btn-primary btn-sm" th:href="@{/categoria/editar/{id}(id=${cat.id})}">Editar</a>
                    <a class="btn btn-danger btn-sm" th:href="@{/categoria/excluir/{id}(id=${cat.id})}">Excluir</a>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="mb-3">
        <div th:replace="fragments/buttons :: btn-voltar"></div>
    </div>
</div>

<!-- Footer -->
<div th:replace="fragments/footer :: footer"></div>

</body>
</html>
